* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14pt;
}

h1 {
  font-size: 30pt;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

h2 {
  padding: 20px;
}

p {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 40px;
}

nav {
  overflow-x: hidden;
  position: sticky;
  top: 0px;
  height: 65px;
  background-color: black;
}

nav ul li {
  display: inline;
  padding: 26px;
}

nav ul li a {
  color: white;
}

nav ul {
  display: block;
  padding: 20px;
  padding-left: 600px;
  width: 100%;
}

nav ul li:hover {
  background-color: rgb(87, 83, 83);
}

#front {
  height: 400px;
  background-color: #666;
  color: #ffffff;
  width: 100%;
}

#name {
  width: 35%;
  height: 99%;
  margin-right: 0;
  display: inline-block;
}

#image {
  width: 64%;
  height: 99%;
  display: inline-block;
}
#image > img {
  padding: 60px;
  margin-left: 320px;
  display: inline;
  border-radius: 50%;
  height: 150px;
  padding-top: 140px;
}

#front h1 {
  color: black;
  font-size: 40pt;
  margin-left: 80px;
  padding-top: 40px;
}
#front h2 {
  text-align: left;
  margin-left: 60px;
}

#about-me {
  background-color: beige;
}

#skills {
  background-color: #666;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
}

#education {
  background-color: #ffffff;
  color: black;
}

#education ul {
  display: block;
  padding: 20px;
}

#education > ul > li {
  border: 1px solid black;
  background-color: rgb(255, 250, 250);
  list-style-type: none;
  padding: 10px;
  color: black;
  font-size: 14pt;
}

#education .list-header {
  background-color: #666;
  color: white;
  font-size: 16pt;
  padding: 10px;
  font-weight: bolder;
}

#projects {
  background-color: #666;
  color: white;
}

#projects > a {
  padding-left: 20px;
  padding-bottom: 20px;
}

#follow-me {
  background-color: #ffffff;
}

#follow-me > a {
  padding-left: 20px;
}
