* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14pt;
}

h1 {
  font-size: 30pt;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "PT Sans", sans-serif;
}

h2 {
  padding: 20px;
}

p {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 40px;
  font-size: 17pt;
}

nav {
  overflow-x: hidden;
  position: sticky;
  top: 0px;
  height: 71px;
  background-color: #045881;
}

nav ul li {
  display: inline;
  padding: 29px;
  font-family: "Oswald", sans-serif;
}

nav ul li a {
  color: white;
}

nav ul {
  display: block;
  padding: 20px;
  padding-left: 558px;
  width: 100%;
}

nav ul li a:hover {
  /* background-color: rgb(87, 83, 83); */
  color: orange;
  font-weight: bold;
}

#front {
  height: 400px;
  background-color: #2a99cf;
  color: #ffffff;
  width: 100%;
}

#name {
  width: 43%;
  height: 100%;
  display: inline-block;
  float: left;
}

#image {
  width: 56%;
  height: 99%;
  display: inline-block;
}

#image > img {
  padding: 60px;
  margin-left: 270px;
  margin-top: 20px;
  display: inline;
  border-radius: 50%;
  height: 230px;
}

#front h1 {
  color: black;
  font-size: 40pt;
  margin-left: 80px;
  padding-top: 120px;
}

#name h2 {
  text-align: left;
  margin-left: 280px;
}

#about-me {
  background-color: white;
}

#skills {
  background-color: #2a99cf;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
}

#education {
  background-color: #ffffff;
  color: black;
}

#education ul {
  display: block;
  padding: 20px;
}

#education > ul > li {
  border: 1px solid black;
  background-color: rgb(255, 250, 250);
  list-style-type: none;
  padding: 10px;
  color: black;
  font-size: 14pt;
}

#education .list-header {
  background-color: #2a99cf;
  color: white;
  font-size: 16pt;
  padding: 10px;
  font-weight: bolder;
}

#projects {
  background-color: #2a99cf;
  color: white;
}

#projects > a {
  padding-left: 20px;
  padding-bottom: 20px;
}

#follow-me {
  background-color: #ffffff;
}

#follow-me > a {
  padding-left: 20px;
}
